
<layout label="{{itemlabel}}">
                    <!--[if mso]> 
                    <table role="presentation" align="center" style="width:600px;max-width:600px;" class="sixhundred"> 
                    <tr> 
                    <td style="padding:20px 0;max-width:600px;"> 
                    <![endif]-->
                    <div class="outer" style="width:96%;max-width:600px;margin:20px auto;">

                            {{content}}
                            {{hr}}

                      </div>
                      <!--[if mso]>  
                    </td> 
                    </tr> 
                    </table> 
                    <![endif]-->
  
                </layout>