<table border="0" cellpadding="0" align="center" cellspacing="0" width="300" style="width:300px;padding-bottom:30px;">
    <tr>
        <td align="center">
            <center>
                <p class="advertisment" style="font-size:9px;text-align:left !important;width:fit-content;margin:0;">Advertisement</p>
                <a href="" style="font-size:9px;text-align:left;">
                    <img editable="true" alt="Advertisement" border="0"
                        src="images/mrec-placeholder.jpg" width="300" align="center" />
                </a></center>
        </td>
    </tr>
</table>